// Colors

$dark-blue: hsl(233deg 26% 24%);
$lime-green: hsl(136deg 65% 51%);
$bright-cyan: hsl(192deg 70% 51%);
$grayish-blue: hsl(233deg 8% 62%);
$light-grayish-blue: hsl(220deg 16% 96%);
$very-light-gray: hsl(0deg 0% 98%);
$white: hsl(0deg 0% 100%);

// Font sizes

$font-sm: 0.87rem;
$font-md: 1.12rem;
$font-lg: 1.25rem;
$font-xlg: 3.25rem;
